In [2]:
xx=[-2,8,0,5,6]

In [4]:
max_val = max(xx)

In [6]:
for x in xx:
    if x < max_val:
        print(x)
    else:
        print('max_val')

-2
max_val
0
5
6

In [8]:
it = 0
max_iter = 100
while it < max_iter:
    if(it == 0) or (it % 10 == 0):
        print(it)
    it += 1

0
10
20
30
40
50
60
70
80
90

In [10]:
names = ["Tom", "Bob", "Sarah", "Julie"]

In [12]:
for name in names:
    print(name.lower())

tom
bob
sarah
julie

In [14]:
_=[print(x.lower()) for x in names]

tom
bob
sarah
julie

In [16]:
cities = {'LA':11111,'Miami':33333}
for cit, zi in cities.items():
    print(cit,zi)

LA 11111
Miami 33333

In [18]:
for cit in cities:
    print(cit, cities[cit])

LA 11111
Miami 33333

In [26]:
values = [1,7,3,4]
cubes = [values**3 for val in values]
cubes

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'